/* public/css/app.css */

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

/* Couleur du header */
.navbar-custom {
    background-color: #0d6efd; /* Bleu Bootstrap ou celui que tu veux */
}


/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333;
}

/* Footer */
footer {
    background-color: #4258d7;
    color: white;
    padding-top: 40px;
}

footer h5 {
    font-weight: bold;
    margin-bottom: 15px;
}

footer p, footer a {
    color: white;
    font-size: 14px;
}

footer a:hover {
    color: #007bff;
}

footer .container {
    max-width: 1170px;
}

/* Réseaux sociaux */
footer .bi {
    font-size: 1.5rem;
    margin-right: 10px;
}

footer .text-white {
    color: white !important;
}

footer .text-white:hover {
    color: #007bff;
}

footer .col-md-4 {
    margin-bottom: 30px;
}

/* Spécificité pour le formulaire de contact */
form .form-control {
    margin-bottom: 15px;
}

/*--------- */

.d-flex {
    justify-content: center;
    align-items: center;
    min-height: 70vh;
}